@font-face {
  font-family: 'Bold';
  src: url('Roboto-Bold.ttf');
}
body {
    /*background: -webkit-linear-gradient(-60deg, #CCC 0%,#CCC 50%,#BBB 50%,#BBB 100%);*/
    background:  radial-gradient(circle, #FFF, #888);
    padding-top: 2em;
    height: 100vh;
    font-family: Roboto;
}
a:hover,
a:focus {
    text-decoration: none;
}
a, .btn {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.container {
    width: 94%;
}
:focus {
    outline: none;
    box-shadow: 0px 0px 0px transparent;
}
.calculator {
    background: #F0F0F0;
    box-shadow: 2px 3px 6px #C2C2C2;
    height: 672px;
}
.displayBox {
    background: #03A9F4;
    height: 220px;
}
.displayText {
    margin-top: 110px;
    background: transparent;
    border: none;
    color: #FFF;
    font-size: 80px;
    font-weight: 100;
    padding-right: 20px;
    float: right;
}
.form-control {
    background: transparent;
    border: none;
    color: #FFF;
    font-size: 80px;
    font-weight: 100;
    margin-top: 80px;
    float: right;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: right;
    padding-right: 20px;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
}
.form-control:focus {
    outline: none;
    box-shadow: 0px 0px 0px transparent;
}
::-webkit-input-placeholder {
   color: #FFF !important;
}
.notification {
    height: 27px;
    background: #049ADE;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.notification:hover {
    background: #0487C2;
}
.notificationMessage {
    color: #A0DEFA;
    padding-top: 6px;
    font-size: 11px;
    font-family: Bold;
    text-transform: uppercase;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.notification:hover .notificationMessage {
    color: #FFF;
}
.operationSide {
    background: #FFF;
    margin-top: -14px;
    padding-left: -20px;
    padding: 0;
    padding-top: 10px;
    border-left: 1px solid #E5E5E5;
}
.numberPad {
    padding-top: 14px;
}
.btn-calc,
.btn-calc:focus {
    background: transparent;
    color: #A2A2A2;
    font-size: 25px;
    width: 80px;
    height: 80px;
    font-weight: 100;
    border-radius: 100px;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
    border: 2px solid transparent;
}
.btn-calc:hover {
    background: #FFF;
    color: #03A9F4;
    border: 1px solid #E0E0E0;
}
.btn-operation {
    background: transparent;
    color: #999;
    font-size: 25px;
    width: 97px;
    height: 80.8px;
    font-weight: 100;
    border-radius: 0;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
}
.btn-operation:focus {
    background: #E8E8E8;
    color: #444;
    outline: 0;
}
.btn-operation:hover {
    background: #E8E8E8;
    color: #444;
}
.equals,
.equals:focus {
    background: #03A9F4;
    color: #FFF;
    height: 95px;
}
.equals:hover {
    background: #049ADE;
    color: #FFF;
}
.clear,
.clear:focus {
    background: #03A9F4;
    color: #FFF;
    font-size: 25px;
    width: 80px;
    height: 80px;
    font-weight: 100;
    border-radius: 100px;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
    border: none;
}
.clear:hover {
    background: #049ADE;
    color: #FFF;
}
.btn-question,
.btn-question:focus {
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: transparent;
    border: 2px solid #FFF;
    padding-top: 6px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 18px;
    outline: none;
}
.btn-question:hover {
    background: rgba(255,255,255,0.2);
    color: #FFF;
}
.modal-dialog {
    padding-top: 100px;
    width: 450px;
}
.modal-content {
    border-radius: 0px;
    box-shadow: none;
    border: none;
}
.modal-title {
    color: #666;
    font-size: 15px;
}
.modal-text {
    line-height: 28px;
    font-size: 15px;
    color: #555;
    padding: 10px 5px;
    padding-right: 10px;
}
.btn-social,
.btn-social:focus {
    background: #F0F0F0;
    padding: 10px 12px;
    border-radius: 2px;
    color: #888;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 11px;
    font-family: Bold;
}
.linkedin:hover {
    background: #1985BC;
    color: #FFF;
}
.twitter:hover {
    background: #55ACEE;
    color: #FFF;
}
.github:hover {
    background: #444;
    color: #FFF;
}
.link,
.link:focus {
    border-bottom: 1px dotted #03A9F4;
    color: #03A9F4;
}
.link:hover {
    color: #40C3FF;
    border-color: #40C3FF;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    body {
       padding-top: 1.3em; 
    }
    .calculator {
        height: 590px;
        box-shadow: 2px 3px 6px #888;
    }
    .displayBox {
        height: 150px;
    }
    .displayText {
        margin-top: 80px;
        font-size: 50px;
    }
    .btn-calc,
    .btn-calc:focus {
        width: 70px;
        height: 70px;
        font-size: 18px;
    }
    .btn-operation,
    .btn-operation:focus {
        width: 60px;
        height: 60px;
        font-size: 18px;
        margin-top: -8px;
    }
    .clear,
    .clear:focus {
        width: 70px;
        height: 70px;
        font-size: 18px;
    }
    .equals,
    .equals:focus {
        width: 62px;
        height: 63px;
        margin-top: -9px;
        margin-right: -8px;
    }
    .modal-dialog {
        width: 100%;
    }
}